---
apiVersion: admissionregistration.k8s.io/v1
kind: ValidatingWebhookConfiguration
metadata:
  name: validating-webhook-configuration
webhooks:
- admissionReviewVersions:
  - v1
  clientConfig:
    service:
      name: webhook-service
      namespace: system
      path: /validate-crl-operator-scality-com-v1alpha1-managedcrl
  failurePolicy: Fail
  name: vmanagedcrl-v1alpha1.kb.io
  rules:
  - apiGroups:
    - crl-operator.scality.com
    apiVersions:
    - v1alpha1
    operations:
    - CREATE
    - UPDATE
    resources:
    - managedcrls
  sideEffects: None
