---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: manager-role
rules:
- apiGroups:
  - ""
  resources:
  - events
  verbs:
  - create
  - patch
- apiGroups:
  - ""
  resources:
  - secrets
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - cert-manager.io
  resources:
  - clusterissuers
  - issuers
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - crl-operator.scality.com
  resources:
  - managedcrls
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - crl-operator.scality.com
  resources:
  - managedcrls/finalizers
  verbs:
  - update
- apiGroups:
  - crl-operator.scality.com
  resources:
  - managedcrls/status
  verbs:
  - get
  - patch
  - update
